# Main
/node_modules/
/build/
/tmp/
.env

# Keep
!.gitkeep

# Cache / Debug / Logs
logs
*.log
.node_repl_history
npm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.npm
.eslintcache
bash.exe.stackdump
nohup.out

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
